*
{
    margin: 0;
    padding: 0;
}
#header
{
    height: 100vh;
    background-image: url(..//img/elephant.jpg);
    background-position: center;
    background-size: cover;
    
}
.container
{
    margin-right: 50px;
    margin-left: 50px;
}
.logo
{
    margin-top: 27px;
    width: 70px;
}
#sideNav
{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: rgb(190, 85, 150);
    z-index: 2;
    transition: 0.5s;
}
nav ul li
{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: darkturquoise;
    transition: .9s ease-in-out;
}
.page h1{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 3px 1px grey
}
#menuBtn
{
    width: 35px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
.about h3{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}
.about p{
    margin: 5px 14% 0 14%;
    font-family: sans-serif;
    font-size: 18px;
}
.login{
    background-color: rgb(128, 99, 35, 0.596);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 180x;
}
form{
    width: 240px;
    text-align: center;
}
input
{
    width: 240px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: rgb(48, 41, 70);
}
input[type=button]
{
   border: none;
   width: 190px;
   background: white;
   color: black;
   font-size: 16px;
   line-height: 25px;
   padding: 10px 0;
   border-radius: 15px;
   cursor: pointer;
}
input[type=button]:hover{
    color: blue;
    background-color: rgb(0, 0, 0);
}
h2{
    color: white;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: blink;
    padding: 0 4px 0 4px;
}
a:hover{
    color: rgb(255, 0, 0);
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder {
    color: darkblue;
    opacity: 0.8; /*firefox*/;
}
.cong a{
    color: yellow;
    font-family: sans-serif;
    margin-left: 30px;
}
.cong{
    background: rgba(128, 99, 35, 0.596);
    padding: 40px;
    height: 200px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
}
.cong h2{
    margin-top: 50px;
    margin-left: 10px;
}
.signup{
    background-color: rgb(128, 99, 35, 0.596);
    padding: 40px;
    width: 250px;
    margin: auto;
    margin-top: 80px;
    height: 400px;
    margin-left: 180x;
}
.signup h5{
    margin-top: 5px;
}

@media only screen and (max-width: 770px){
    .container{
        margin-right: 50px;
        margin-left: 50px;
    }
    .logo{
        margin-top: 27px;
        width: 70px;
    }
    .header-text{
        margin-top: 100px;
    }
    #menuBtn
{
    width: 40px;
    right: 50px;
   }

}